HTML {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; WIDTH: 100%; PADDING-TOP: 0px; HEIGHT: auto
}
BODY {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; WIDTH: 100%; PADDING-TOP: 0px; HEIGHT: auto
}
BODY {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; BACKGROUND: url(../Images/body-bkgTile.gif) repeat-y center top; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}
IMG {
	border-style: none;
	padding: 0px;
	MARGIN: 0px; 	width: 174px;
	height: 479px;
}
A {
	COLOR: #a10c10; TEXT-DECORATION: underline
}
A:hover {
	TEXT-DECORATION: none
}
A:unknown {
	COLOR: #a08b4b; TEXT-DECORATION: underline
}
.clear {
	CLEAR: both
}
.grey {
	COLOR: #777
}
.bold {
	FONT-WEIGHT: bold
}
.nomargin {
	MARGIN: 0px 0px -4px
}
#container {
	BACKGROUND: url(../Images/contentContainer-bkgTile.gif) #fff repeat-y center top; MARGIN: 0px auto; WIDTH: 783px;
	height: 646px;
}
#header H1 {
	DISPLAY: none
}
#header {
	BACKGROUND: url(../Images/defaultHeader-bkg.jpg) no-repeat; HEIGHT: 124px
}
#header-Print {
	DISPLAY: none
}
UL#gnav {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; BACKGROUND: url(../Images/gnav-bkgTile.gif) repeat-x left top; PADDING-BOTTOM: 0px; MARGIN: 0px auto; WIDTH: 785px; PADDING-TOP: 0px; LIST-STYLE-TYPE: none; HEIGHT: 27px
}
UL#gnav LI {
	padding: 0px;
	FLOAT: left; 	MARGIN: 0px; WIDTH: 129px; 
	TEXT-DECORATION: none
}
UL#gnav LI.ltc {
	WIDTH: 160px
}
UL#gnav LI A {
	BORDER-RIGHT: #e1e2e3 1px solid; PADDING-RIGHT: 0px; DISPLAY: block; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; FONT: 12px/14px Arial, Helvetica, sans-serif; COLOR: #517b97; PADDING-TOP: 7px; HEIGHT: 20px; TEXT-ALIGN: center; TEXT-DECORATION: none;
	width: 124px;
}
UL#gnav LI A:hover {
	BACKGROUND: url(../Images/gnav-bkgTile-over.gif) repeat-x left top; COLOR: #fff
}
UL#gnav LI SPAN {
	FONT-WEIGHT: normal; FONT-SIZE: 10px; LINE-HEIGHT: 10px
}
#navigation {
	CLEAR: both; BORDER-TOP: #b1b186 1px solid; BACKGROUND-IMAGE: url(../Images/nav_bg.gif); WIDTH: 785px; BORDER-BOTTOM: #b1b186 1px solid; BACKGROUND-REPEAT: repeat-x; HEIGHT: 22px; BACKGROUND-COLOR: #cccc99
}
#navigation UL {
	PADDING-RIGHT: 0px; PADDING-LEFT: 12px; FONT-SIZE: 11px; PADDING-BOTTOM: 0px; MARGIN: 0px 10px 0px 0px; PADDING-TOP: 0px; FONT-FAMILY: Arial, Helvetica, sans-serif; LIST-STYLE-TYPE: none
}
#navigation LI {
	BORDER-RIGHT: #b1b186 1px solid; MARGIN-TOP: 0px; FLOAT: left; WIDTH: 100px; LINE-HEIGHT: 22px; POSITION: relative; TEXT-ALIGN: center
}
#navigation LI.first {
	BORDER-LEFT: #b1b186 1px solid
}
#navigation UL LI A {
	DISPLAY: block; BACKGROUND: url(../Images/btn_bg_off.gif); COLOR: #000; TEXT-DECORATION: none
}
#navigation UL LI A:hover {
	BACKGROUND: url(../Images/btn_bg_over.gif); COLOR: #fff
}
#navigation LI A#sel {
	BACKGROUND: url(../Images/btn_bg_on.gif); COLOR: #000
}
#content {
	CLEAR: left; PADDING-RIGHT: 20px; MARGIN-TOP: 15px; FLOAT: right; FONT: 12px/17px Arial, Helvetica, sans-serif; WIDTH: 760px;
}
#content H1 {
	MARGIN-TOP: 15px; PADDING-BOTTOM: 5px; FONT: bold 25px 'Trebuchet MS', Verdana, Helvetica, Arial, sans-serif; COLOR: #a10c10
}
#content H2 {
	MARGIN-TOP: 20px; PADDING-BOTTOM: 0px; FONT: bold 21px 'Trebuchet MS', Verdana, Helvetica, Arial, sans-serif; COLOR: #a10c10
}
#content SMALL {
	PADDING-BOTTOM: 5px; FONT: 11px Arial, Helvetica, sans-serif; COLOR: #999
}
#content SMALL A {
	COLOR: #999; TEXT-DECORATION: none
}
#content SMALL A:hover {
	COLOR: #666; TEXT-DECORATION: underline
}
#content TABLE {
	MARGIN: 0px 10px 0px 0px
}
#content TD {
	BORDER-RIGHT: #dcdcdc 1px dotted; PADDING-RIGHT: 5px; BORDER-TOP: #dcdcdc 0px dotted; BORDER-LEFT: #dcdcdc 0px dotted; BORDER-BOTTOM: #dcdcdc 0px dotted
}
#content LI {
	MARGIN-BOTTOM: 5px
}
#subnav {
	MARGIN-TOP: 0px; WIDTH: 176px; PADDING-TOP: 0px
}
.bottom {
	CLEAR: both; MARGIN: 0px
}
#subnav UL {
	PADDING-RIGHT: 15px; PADDING-LEFT: 0px; PADDING-BOTTOM: 10px; MARGIN: 0px; FONT: 11px Verdana; WIDTH: 176px; PADDING-TOP: 0px
}
#subnav UL LI UL {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; BACKGROUND: none transparent scroll repeat 0% 0%; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}
#subnav UL LI {
	BORDER-RIGHT: #bec2c3 1px solid; PADDING-LEFT: 0px; MARGIN-BOTTOM: 0px; WIDTH: 176px; BORDER-BOTTOM: #bec2c3 1px solid; LIST-STYLE-TYPE: none
}
#subnav UL LI#subnavfirst {
	WIDTH: 176px; BORDER-BOTTOM: #bec2c3 1px solid
}
#subnav UL LI UL LI {
	MARGIN-BOTTOM: 0px; PADDING-BOTTOM: 0px; BORDER-TOP-STYLE: none; BORDER-RIGHT-STYLE: none; BORDER-LEFT-STYLE: none; BORDER-BOTTOM-STYLE: none
}
#subnav UL LI A {
	DISPLAY: block; PADDING-LEFT: 15px; FONT-SIZE: 12px; PADDING-BOTTOM: 5px; WIDTH: 151px; COLOR: #000; PADDING-TOP: 5px; FONT-FAMILY: Lucida Grande, Lucida Sans Unicode, Verdana, Helvetica, Arial, sans-serif; TEXT-DECORATION: none
}
#subnav UL LI A#highlight {
	COLOR: #ffffff; BACKGROUND-COLOR: #660000
}
#subnav UL LI A:hover {
	COLOR: #660000; BACKGROUND-COLOR: #e7e7d7
}
#subnav UL LI UL LI A {
	PADDING-LEFT: 25px; FONT-WEIGHT: normal; BACKGROUND: url(../Images/img_bulletarrowright.gif) no-repeat left top; WIDTH: 120px; COLOR: #666; BORDER-BOTTOM: #d3d3d3 1px dashed
}
#subnav UL LI UL LI A#highlight {
	BACKGROUND-COLOR: #f5f5f5
}
#subnav UL {
	FONT: 11px Verdana
}
#subnav UL LI#sideBanners {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; BACKGROUND: none transparent scroll repeat 0% 0%; PADDING-BOTTOM: 6px; MARGIN: 0px; WIDTH: 176px; BORDER-TOP-STYLE: none; PADDING-TOP: 6px; BORDER-RIGHT-STYLE: none; BORDER-LEFT-STYLE: none; HEIGHT: 312px; TEXT-ALIGN: center; BORDER-BOTTOM-STYLE: none
}
#subnav UL LI#sideBanners A {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; BACKGROUND: none transparent scroll repeat 0% 0%; PADDING-BOTTOM: 6px; MARGIN: 0px; WIDTH: 176px; BORDER-TOP-STYLE: none; PADDING-TOP: 6px; BORDER-RIGHT-STYLE: none; BORDER-LEFT-STYLE: none; HEIGHT: 312px; TEXT-ALIGN: center; BORDER-BOTTOM-STYLE: none
}
#subnav UL LI#sideBanners A:hover {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; BACKGROUND: none transparent scroll repeat 0% 0%; PADDING-BOTTOM: 6px; MARGIN: 0px; WIDTH: 176px; BORDER-TOP-STYLE: none; PADDING-TOP: 6px; BORDER-RIGHT-STYLE: none; BORDER-LEFT-STYLE: none; HEIGHT: 312px; TEXT-ALIGN: center; BORDER-BOTTOM-STYLE: none
}
#frmSearch {
	PADDING-RIGHT: 0px; PADDING-LEFT: 12px; PADDING-BOTTOM: 10px; MARGIN: 0px; PADDING-TOP: 10px
}
#keywords {
	BORDER-RIGHT: #a7a7a7 1px solid; PADDING-RIGHT: 2px; BORDER-TOP: #d5d5d5 1px solid; MARGIN-TOP: -1px; PADDING-LEFT: 2px; PADDING-BOTTOM: 2px; FONT: 11px Verdana, Tahoma, Serif; BORDER-LEFT: #d5d5d5 1px solid; WIDTH: 80px; MARGIN-RIGHT: -2px; PADDING-TOP: 2px; BORDER-BOTTOM: #a7a7a7 1px solid
}
#btnsearch {
	BORDER-RIGHT: #a7a7a7 1px solid; BORDER-TOP: #d5d5d5 1px solid; BACKGROUND: url(../Images/img_searchback.gif) #fff repeat-x left top; FONT: 10px Tahoma, Arial, Serif; TEXT-TRANSFORM: uppercase; BORDER-LEFT: #d5d5d5 1px solid; WIDTH: 55px; CURSOR: pointer; BORDER-BOTTOM: #a7a7a7 1px solid; HEIGHT: 19px
}
#footerContainer {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; BACKGROUND: url(../Images/footer-bkg.gif) no-repeat center top; PADDING-BOTTOM: 10px; MARGIN: 0px auto; FONT: 11px/15px 'Trebuchet MS', Verdana, Helvetica, Arial, sans-serif; WIDTH: 785px; COLOR: #484848; PADDING-TOP: 0px; HEIGHT: 20px; TEXT-ALIGN: left
}
.footerLeft {
	FLOAT: left; MARGIN: 0px; WIDTH: 360px; PADDING-TOP: 10px; HEIGHT: auto; TEXT-ALIGN: left
}
.footerLeft P {
	MARGIN-BOTTOM: 10px
}
.footerLeft P A {
	COLOR: #484848; TEXT-DECORATION: none
}
.footerLeft P A:hover {
	COLOR: #484848; TEXT-DECORATION: underline
}
.footerRight {
	FLOAT: right; MARGIN: 0px; WIDTH: 400px; PADDING-TOP: 10px; HEIGHT: auto; TEXT-ALIGN: right
}
.footerRight P {
	MARGIN-BOTTOM: 10px
}
.footerRight P A {
	COLOR: #484848; TEXT-DECORATION: none
}
.footerRight P A:hover {
	COLOR: #484848; TEXT-DECORATION: underline
}
#hbpagination INPUT {
	BORDER-RIGHT: #a7a7a7 1px solid; BORDER-TOP: #d5d5d5 1px solid; BACKGROUND: url(../Images/img_searchback.gif) #fff repeat-x left top; FONT: 10px Tahoma, Arial, Serif; TEXT-TRANSFORM: uppercase; BORDER-LEFT: #d5d5d5 1px solid; WIDTH: 25px; CURSOR: pointer; BORDER-BOTTOM: #a7a7a7 1px solid; HEIGHT: 15px
}
#hbpagination INPUT:unknown {
	BORDER-RIGHT: #a7a7a7 1px solid; BORDER-TOP: #d5d5d5 1px solid; BACKGROUND: #fff; FONT: 10px Tahoma, Arial, Serif; TEXT-TRANSFORM: uppercase; BORDER-LEFT: #d5d5d5 1px solid; WIDTH: 25px; CURSOR: default; COLOR: #cccccc; BORDER-BOTTOM: #a7a7a7 1px solid; HEIGHT: 19px
}
#subnav UL LI #qb_nav {
	BORDER-RIGHT-STYLE: none; BORDER-BOTTOM-STYLE: none
}
#qb_nav {
	PADDING-RIGHT: 0px; PADDING-LEFT: 1px; BACKGROUND: url(../Images/hb-qb-bkg.jpg) no-repeat left top; PADDING-BOTTOM: 0px; MARGIN: 7px 0px; WIDTH: 174px; BORDER-TOP-STYLE: none; PADDING-TOP: 0px; BORDER-RIGHT-STYLE: none; BORDER-LEFT-STYLE: none; HEIGHT: 357px; BORDER-BOTTOM-STYLE: none
}
#qb_nav H3 {
	FONT: bold 14px Verdana, Helvetica, Arial, sans-serif; MARGIN-LEFT: 11px; COLOR: #660000
}
#qb_nav LABEL {
	DISPLAY: block; FONT: bold 12px Verdana, Helvetica, Arial, sans-serif; MARGIN-LEFT: 13px; COLOR: #333
}
#qb_nav LABEL.insurancetype {
	PADDING-RIGHT: 0px; DISPLAY: block; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; FONT: bold 12px Verdana, Helvetica, Arial, sans-serif; PADDING-TOP: 170px
}
#qb_nav LABEL.second_lbl {
	MARGIN-TOP: 15px; DISPLAY: block; FONT: bold 12px Verdana, Helvetica, Arial, sans-serif
}
#submit_btn {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; BACKGROUND: url(../Images/hb-qb-button.gif) no-repeat; PADDING-BOTTOM: 1px; MARGIN: 20px 0px 0px 10px; FONT: bold 15px Arial, Helvetica, sans-serif; WIDTH: 148px; COLOR: #fff; BORDER-TOP-STYLE: none; PADDING-TOP: 0px; BORDER-RIGHT-STYLE: none; BORDER-LEFT-STYLE: none; HEIGHT: 40px; BORDER-BOTTOM-STYLE: none
}
.qb_nav_sel {
	PADDING-RIGHT: 0px; DISPLAY: block; PADDING-LEFT: 0px; BACKGROUND: url(../Images/hb-qb-textField-bkg.gif) #d3d4d6 repeat-x left top; PADDING-BOTTOM: 0px; MARGIN: 5px 0px 0px 13px; FONT: bold 12px Verdana, Helvetica, Arial, sans-serif; WIDTH: 135px; COLOR: #333; PADDING-TOP: 0px; HEIGHT: 22px
}
#content H2.presshH2 {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px 0px -10px; FONT: 19px/1.2em Verdana, Arial, Helvetica, sans-serif; COLOR: #1a1a1a; PADDING-TOP: 0px
}
#content H3.presshH3 {
	PADDING-RIGHT: 0px; PADDING-LEFT: 2px; PADDING-BOTTOM: 0px; MARGIN: 20px 0px 5px; FONT: 15px/1.4em Verdana, Arial, Helvetica, sans-serif; WIDTH: 95%; COLOR: #a10c10; PADDING-TOP: 0px; BORDER-BOTTOM: #333 1px solid
}
#content H5.presshH5 {
	PADDING-RIGHT: 0px; PADDING-LEFT: 2px; PADDING-BOTTOM: 0px; MARGIN: 5px 0px; FONT: 14px/1.4em Verdana, Arial, Helvetica, sans-serif; WIDTH: 95%; COLOR: #a10c10; PADDING-TOP: 0px; BORDER-BOTTOM: #333 1px solid
}
#content P.press-title {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px 0px 4px 2px; FONT: 12px/1.8em Arial, Helvetica, sans-serif; COLOR: #1a1a1a; PADDING-TOP: 0px
}
#content P.press-title STRONG {
	FONT-SIZE: 11px; COLOR: #777; MARGIN-RIGHT: 5px
}
#content P.press-title A {
	COLOR: #1a1a1a; TEXT-DECORATION: none
}
#content P.press-title A:hover {
	COLOR: #1a1a1a; TEXT-DECORATION: underline
}
#content P.press-title A:unknown {
	COLOR: #444; TEXT-DECORATION: none
}
.pressMonthListContainer {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FLOAT: left; PADDING-BOTTOM: 0px; MARGIN: 10px 20px 0px 0px; WIDTH: 20%; PADDING-TOP: 0px
}
.pressMonthListContainer UL {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}
.pressMonthListContainer UL LI {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 7px; COLOR: #1a1a1a; PADDING-TOP: 0px; LIST-STYLE-TYPE: none
}
.pressMonthListContainer UL LI A {
	COLOR: #1a1a1a; TEXT-DECORATION: none
}
.pressMonthListContainer UL LI A:hover {
	COLOR: #1a1a1a; LIST-STYLE-TYPE: circle; TEXT-DECORATION: underline
}
.leadershipPersonalImages {
	FLOAT: right
}
LI.leadershipList {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 15px; PADDING-TOP: 0px; LIST-STYLE-TYPE: none
}
IMG.leaderHomePage {
	FLOAT: left
}
